header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    padding: 1%;
    z-index: 100;

    #left-top-brace {
        background: #424C55;
        height: 75px;
        position: relative;
        width: 5px;
        z-index: 100;

        &::after {
            background: #424C55;
            content: "";
            height: 5px;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 75px;
        }
    }

    #right-top-brace {
        background: #424C55;
        height: 75px;
        position: relative;
        width: 5px;
        z-index: 100;

        &::after {
            background: #424C55;
            content: "";
            height: 5px;
            left: -75px;
            position: absolute;
            top: 0px;
            width: 75px;
        }
    }

    #logo {
        flex: 32 0 0;
        padding-left: 20px;

        a {
            font-family: 'Crimson Text', serif;
            font-size: 42px;
            color: #424C55;
            text-decoration: none;
            position: relative;
            z-index: 100;
        }
    }

    button {
        position: relative;
        z-index: 100;
        color: #424C55;

        &:focus {
            outline: none;
        }
    }

    #navigation {
    
        nav {
            position: fixed;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: radial-gradient(50% 50% at 50% 50%, rgba(233, 147, 105, 1) 0%, rgba(233, 147, 105, 1) 100%);
            transition: all .3s;
            
            ul {
                padding: 0;
                margin: 0;
        
                li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
        
                    a {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 52px;
                        line-height: 94px;
                        text-align: center;
                        color: #424C55;
                        text-decoration: none;
                        display: block;
                        font-family: 'Cormorant Infant', serif;
                        transition: all .3s;
        
                        &:hover {
                            color: #CFDBDC;
                        }
                    }
                }
            }
        }
    
        &.is-active {

            nav {
                top: 0;
            }
        }   
    }
    
}