<div class="page-header">
    <div class="info">
        <h1 class="page-title">Twitch</h1>
        <p class="author-info">DBNubs</p>
    </div>
    
    <div class="footer">
        <div id="right-bottom-brace"></div>
    
        <div id="left-bottom-brace"></div>
    </div>
</div>

<div class="content">
    <iframe
        src="https://player.twitch.tv/?channel=dbnubs"
        height="600"
        width="60%"
        frameborder="false"
        scrolling="false"
        allowfullscreen="true">
    </iframe>

    <iframe
        frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="https://www.twitch.tv/embed/dbnubs/chat"
        height="500"
        width="60%">
    </iframe>
</div>