.page-header {
    // background: radial-gradient(50% 50% at 50% 50%, rgba(100, 65, 164, 0.68) 0%, #6441a4 100%);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/twitch.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    .info {
        text-align: center;
        position: relative;
        top: 40px;

        .page-title {
            color: #fff;
        }

        .author-info {
            color: #fff;
        }
    }

    #right-bottom-brace,
    #left-bottom-brace {
        background: #CFDBDC;

        &::after {
            background: #CFDBDC;
        }
    }
}

.content {
    width: 95%;
    margin: 0 auto;

    iframe {
        margin: 25px auto 25px;
        display: block;
    }
}