.homepage-frame {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // background: radial-gradient(50% 50% at 50% 50%, rgba(242, 221, 154, 0.68) 0%, rgba(242, 221, 154, 1) 100%);
    background: url('/assets/images/fun.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    h1 {
        font-weight: bold;
        font-size: 52px;
        line-height: 63px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
}