<div class="page-header">
    <div class="info">
        <h1 class="page-title">Contact Me</h1>
        <p class="author-info">I'd love to hear from you!</p>
    </div>
    
    <div class="footer">
        <div id="right-bottom-brace"></div>
    
        <div id="left-bottom-brace"></div>
    </div>
</div>

<div class="content">
    <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
        <input type = "text" name = "fullName" placeholder = "Your full name" ngModel>
        <br/>
      
        <input type = "email" name = "email" placeholder = "Your email" ngModel>
        <br/>
      
        <textarea name = "message" placeholder = "Your message" ngModel></textarea>
        <br/>
        <input type = "submit" value = "Send">
      </form>
</div>