<div class="page-header">
    <div class="info">
        <h1 class="page-title">Contact Me</h1>
        <p class="author-info">I'd love to hear from you!</p>
    </div>
    
    <div class="footer">
        <div id="right-bottom-brace"></div>
    
        <div id="left-bottom-brace"></div>
    </div>
</div>

<div class="content">
    <p>Want to discuss website development, speed gaming, SEO or any other random topic?</p>

    <p>Feel free to contact me by sending a message to <a href="mailto:iam@jasonblanda.com">iam@jasonblanda.com</a></p>

    <p>I really hope to hear from you soon!</p>
</div>