.page-header {
    background: radial-gradient(50% 50% at 50% 50%, rgba(242, 221, 154, 0.68) 0%, #f2dd9a 100%);

    .info {
        text-align: center;
        position: relative;
        top: 40px;

        .page-title {
            color: #424C55;
        }

        .author-info {
            color: #424C55;
        }
    }

    #right-bottom-brace,
    #left-bottom-brace {
        background: #424C55;

        &::after {
            background: #424C55;
        }
    }
}

.content {
    max-width: 75%;
    margin: 45px auto 0;
    input,textarea {
        padding: 8px;
        font-size: 18px;
        width: 100%;
        margin-bottom: 15px;
    }
}