.page-header {
    background: radial-gradient(50% 50% at 50% 50%, rgba(242, 221, 154, 0.68) 0%, #f2dd9a 100%);

    .info {
        text-align: center;
        position: relative;
        top: 40px;

        .page-title {
            color: #424C55;
        }

        .author-info {
            color: #424C55;
        }
    }

    #right-bottom-brace,
    #left-bottom-brace {
        background: #424C55;

        &::after {
            background: #424C55;
        }
    }
}

h2 {
    max-width: 90%;
    margin: 50px auto 0px;
    font-size: 38px;
    text-align: center;
}

.content.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
       

    .portfolio-featured-item {
        width: 30%;
        text-align: center;
        padding: 25px;

        a {
            text-decoration: none;

            img {
                max-width: 90%;
            }

            h4 {
                text-decoration: none;
                font-weight: bold;
                font-size: 22px;
                color: #424C55;
            }

            &:hover {
                h4 {
                    color: #E77465;
                }
            }
        }
    }

    .portfolio-item {
        width: 25%;
        text-align: center; 
        position: relative;
        // min-height: 250px;
        
        a {
            box-shadow: 2px 2px 7px -5px;
            margin: 15px;
            text-decoration: none;
            border-radius: 5px;
            background: #F8F8F8; 
            color: #424C55;
            padding: 25px;
            transition: all .3s;
            font-size: 20px;
            font-weight: bold;
            display: block;
            transition: all .3s;

            img {
                max-width: 90%;
            }
    
            h4 {
                text-decoration: none;
                font-weight: bold;
                font-size: 22px;
                color: #424C55;
                font-weight: bold;
            }

            &:hover {
                background: #EAEAEA;
                transform: scale(1.1);
            }
        }
    }
}