.homepage-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(53, 68, 115, 0.68) 0%, rgba(53, 68, 115, 1) 100%);

    h2 {
        font-weight: bold;
        font-size: 52px;
        line-height: 63px;
        color: #CFDBDC;
    }

    .body {
        width: 75%;
        font-size: 22px;
        line-height: 44px;
        text-align: center;
        color: #CFDBDC;
    }
}