.homepage-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(231, 116, 101, 0.68) 0%, rgba(231, 116, 101, 0.8) 100%);
    // background: url('/assets/images/fun.jpg');
    // background-size: cover;
    // background-position: 50% 50%;
    // background-repeat: no-repeat;

    a {
        text-align: center;
        display: block;
        width: 100%;
        text-decoration: none;
        
        h2 {
            font-weight: bold;
            font-size: 52px;
            line-height: 63px;
            color: #424C55;
            transition: all .3s;
        }

        .body {
            width: 75%;
            font-size: 22px;
            line-height: 44px;
            text-align: center;
            color: #424C55;
            transition: all .3s;
            margin: 0 auto;
        }

        &:hover {
            h2 {
                font-weight: bold;
                font-size: 52px;
                line-height: 63px;
                color: #CFDBDC;
            }
    
            .body {
                width: 75%;
                font-size: 22px;
                line-height: 44px;
                text-align: center;
                color: #CFDBDC;
                margin: 0 auto;
            }
        }
    }
}