<div class="homepage-frame">
    <h2>Latest Web Dev Article</h2>

    <div class="body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis lectus quam, ac euismod neque pharetra nec. Ut tincidunt sit amet metus ut accumsan. Mauris efficitur fringilla velit, eget malesuada mi iaculis in. Curabitur condimentum sed ex at sagittis. Pellentesque id condimentum enim. Proin venenatis purus risus, eget facilisis urna tristique sit amet. Proin tortor risus, imperdiet nec dolor id, maximus volutpat dolor.
    </div>
</div>