<div class="page-header">
    <div class="info">
        <h1 class="page-title">Web Development</h1>
        <p class="author-info">Drupal, Angular</p>
    </div>
    
    <div class="footer">
        <div id="right-bottom-brace"></div>
    
        <div id="left-bottom-brace"></div>
    </div>
</div>

<div class="content">
    <div *ngFor="let blog of blogs" class="blog-item">
        <img src={{blog.image}} alt={{blog.title}}>

        <div class="contents">
            <h4 class="title">{{blog.title}}</h4>
            <p class="author">{{blog.author}}</p>
            <div class="body">{{blog.body}}</div>

            <div class="rm-container">
                <button (click)="goToArticle( blog.title, blog.id )" class="read-more">Read More</button>
            </div>
        </div>
    </div>
</div>