@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:400,700|Crimson+Text:400,600&display=swap');
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

body {
    font-family: 'Crimson Text', serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
}

.page-header {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page-title {
        font-size: 52px;
        margin-bottom: 0;
    }

    .author-info {
        font-family: 'Cormorant Infant', serif;
        font-style: italic;
        font-size: 21px;
    }

    .footer {
        
        bottom: 0;
        left: 0;
        padding: 1%;
        width: 98%;
    
        #left-bottom-brace {
            height: 75px;
            position: relative;
            width: 5px;
            transition: all .3s;
    
            &::after {
                content: "";
                height: 5px;
                left: 0px;
                position: absolute;
                top: 75px;
                width: 75px;
            }
        }
    
        #right-bottom-brace {
            height: 75px;
            position: relative;
            width: 5px;
            float: right;
    
            &::after {
                content: "";
                height: 5px;
                left: -70px;
                position: absolute;
                top: 75px;
                width: 75px;
            }
        }
    }
}

.white header {
    #right-top-brace,
    #left-top-brace {
        background: #fff !important;

        &::after {
            background: #fff !important;
        }
    }

    #logo {
        a {
            color: #fff !important;

            &:hover {
                color: #CFDBDC !important;
            }
        }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: #fff !important;
    }
}

.white .footer {
    #left-bottom-brace,
    #right-bottom-brace {
        background: #fff !important;

        &::after {
            background: #fff !important;
        }
    }
}

.bjj,
.twitch {
    #right-top-brace,
    #left-top-brace {
        background: #fff !important;

        &::after {
            background: #fff !important;
        }
    }

    #logo {
        a {
            color: #fff !important;

            &:hover {
                color: #CFDBDC !important;
            }
        }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: #fff !important;
    }
}

@media (min-height: 200%) {
.front {
    #right-top-brace,
    #left-top-brace {
        background: #fff !important;

        &::after {
            background: #fff !important;
        }
    }

    #logo {
        a {
            color: #fff !important;

            &:hover {
                color: #CFDBDC !important;
            }
        }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: #fff !important;
    }
}
}